<td><img src="http://fweddit.com/favicon.ico" width="20" alt=""></td>
<td><a href="http://{{vhost}}">{{name}}</a></td>
<td><a href="http://gitlab.j4lp.com/{{name}}/commit/{{commit}}">{{truncate commit 12}}</a></td>
<td>{{image}}</td>
<td>{{container}}</td>
<td>
    {{#is status_type 'up'}}
        <span class="label label-success">{{status}}</span>
    {{/is}}
    {{#is status_type 'exit'}}
        <span class="label label-danger">{{status}}</span>
    {{/is}}
    {{#is status_type 'unknown'}}
        <span class="label label-warning">{{error}}</span>
    {{/is}}
</td>
<td>
    <div class="btn-group btn-group-justified">
        {{#is status_type 'up'}}
            <a href="#" class="btn btn-small btn btn-belize-hole js-app-restart">Restart</a>
            <a href="#" class="btn btn-small btn-alizarin js-app-stop">Stop</a>
        {{/is}}
        {{#is status_type 'exit'}}
            <a href="#" class="btn btn-small btn btn-nephritis js-app-start">Start</a>
        {{/is}}
        {{#is status_type 'unknown'}}
            <a href="#" class="btn btn-small btn btn-nephritis js-app-start">Start</a>
        {{/is}}
    </div>
</td>